
.search-box {
  border: solid 3px white;
  display: inline-flex;
  position: relative;
  border-radius: 100px;
  margin-right: 15px;
  margin-top: 3px;
  size: 10px;
}
.search-box input[type="text"] {
  background: transparent;
  
  font-size: 25px;
  width: 50px;
  height: 50px;
  padding: 5px 40px 5px 10px;
  border: none;
  box-sizing: border-box;
  border-radius: 50px;
  transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 0.5) 600ms;
}
.search-box input[type="text"]:focus {
  outline: none;
}
.search-box input[type="text"]:focus, .search-box input[type="text"]:not(:placeholder-shown) {
  width: 300px;
  transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
}
.search-box input[type="text"]:focus + span, .search-box input[type="text"]:not(:placeholder-shown) + span {
  bottom: 13px;
  right: 10px;
  transition: bottom 300ms ease-out 800ms, right 300ms ease-out 800ms;
}
.search-box input[type="text"]:focus + span:after, .search-box input[type="text"]:not(:placeholder-shown) + span:after {
  top: 0;
  right: 10px;
  opacity: 1;
  transition: top 300ms ease-out 1100ms, right 300ms ease-out 1100ms, opacity 300ms ease 1100ms;
}
.search-box span {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -15px;
  right: -15px;
  transition: bottom 300ms ease-out 300ms, right 300ms ease-out 300ms;
}
.search-box span:before, .search-box span:after {
  content:'';
  height: 25px;
  border-left: solid 3px white;
  position: absolute;
  transform: rotate(-45deg);
}
.search-box span:after {
  transform: rotate(45deg);
  opacity: 0;
  top: -20px;
  right: -10px;
  transition: top 300ms ease-out, right 300ms ease-out, opacity 300ms ease-out;
}
















body{
background-image: url(download.webp);
 }
.carousel-indicators .active{
      background-color: purple
      }

.col-md-4
  {
  display: inline-grid;
 
   }

  .card{
   border: 3px solid white;
   border-radius: 50px;
   background: white;
       }

  .card-img-top{
  border: 3px solid white;
   border-radius: 50px;

  }

  body .carousel-control-prev-icon,
  body .carousel-control-next-icon{
    background-color: black;
    margin-top: 1250px;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 50px;

}



 



  /* When the screen is less than 800px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 800px) {
   .form-control{
  max-width:230px;
 }

    
    .col-md-4{
      align-items: center;
      justify-content: center;
    }
    body .carousel-control-prev-icon,
    body .carousel-control-next-icon{
      background-color: black;
      margin-top: 2350px;
      height: 50px;
      width: 50px;
      border: 2px solid white;
      border-radius: 50px;
  
  }
   
  }




.w3-myfont {
font-family: "Comic Sans MS", cursive, sans-serif;
}
#macs{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
}


#animate {
padding: 15px 25px;
font-size: 18px;
text-align: center;
cursor: pointer;
outline: none;
color: #fff;

border: none;
border-radius: 15px;
box-shadow: 0 9px #999;
}

#animate:hover {background-color: #3e8e41;}
#animate:active {
background-color: #3e8e41;
box-shadow: 0 5px #666;
transform: translateY(4px);
}

#animates{
padding: 15px 25px;
font-size: 14px;
text-align: center;
cursor: pointer;
outline: none;
color: #fff;

border: none;
border-radius: 15px;
box-shadow: 0 9px #999;
}

#animates:hover {background-color: #3e8e41}

#animates:active {
background-color: #3e8e41;
box-shadow: 0 5px #666;
transform: translateY(4px);
}



.card:hover {
animation: shake 0.5s;
animation-iteration-count: infinite;
}

@keyframes shake {
0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(3px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(3px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(1px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}




.fa {

font-size: 25px;
width: 40px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
}

.fa:hover {
opacity: 0.7;
}

.fa-facebook {

color: purple;
}

.fa-twitter {

color: skyblue;
}

.fa-google {

color: red;
}


.fa-youtube {

color: blue;
}

.fa-instagram {

color: pink;
}

.fa-pinterest {

color: green;
}







.container-fluid{
background-image: url(footer.jfif);
border: 3px solid-white;
border-radius: 100px;
}







.a2a_dd img{
border: 2px solid dark;
border-radius: 50px;
align-items: center;
}


.btn img{
border: 2px solid dark;
border-radius: 30px;
align-items: center;
}










   .background{
    background: rgba(0,0,0, 0.5) url('bodybackground.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection{
    height: 80vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width:55%;
    margin: auto;
    padding-bottom: 40px;
        height: 100%;
}

.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}



.text-big{
    font-size: 35px;
}

.text-small{
    font-size: 18px;
}

.btn{
    padding: 5px;
    margin: 2px;
    border: 1px solid white;
    border-radius: 8px;

    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

#bose{
    padding: 5px;
    margin: 2px;


    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}


@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.secondHalf{
    width: 30%;
}

.img-circle{
 width:200px;
  height:200px;
  object-fit:cover;
  border-radius:50%;


}

.buttons img{
  width:170px;
  height: 40px;
border: 3px black;
  border-radius: 50px;
}

.secondHalf img{
  border: 3px solid white;
   border-radius: 50%;
   margin-top: 130px;
}
    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }

    }
    .paras {
    padding: 0px;
}
.section{
  background-color: rgb(darken,0.2);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
    border-radius: 10px;
}

.section-left{
    flex-direction: row-reverse;

}

.paras{
    padding: 0px;
}

.sectionTag{
    padding: 16px 0;
}

.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumbnail img{
    width: 250px;
    border: 2px solid black;
    border-radius: 26px;
    margin-top: 19px;
}




.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top:15px;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}
.form-inline {
padding-left:100px;}





@media screen and (max-width: 850px)
{
.left-nav{

padding-left:10px;
padding-top:120px;
 flex-direction: column;
}
 .right-nav{
      flex-direction: row;
     padding-top:1px;
       padding-left: 1px;

 }





  
   
    .navbar{
        height: 400px;
        flex-direction: row;
        justify-content: left;
        transition: all 0.4s ease-out;
    }

    .box-main{
        flex-direction: column-reverse;
        max-width: 60%;
        align-items: left;
        height: 700px;
    }



    .burger{
    display: block;
    }
    .h-nav-resp{
        height: 10px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .paras {
    padding: 0px;
}
.logo img{
  align-items: center;
}
.second-class{
  image-orientation: center;
}
#header{
  height: 850px;
}
#toppage{
  height: 800px;

}
.secondHalf{margin-bottom: 2px;
align-items: center;
align-content: center;
justify-content: center;

}





}





html{
    scroll-behavior: smooth;
}



.navbar-brand{
position:fixed;
top:-35px; 
left:-40px;

}

 
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: black; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 200px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}
#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

